{% extends 'price_tracker/base.html' %}

{% load crispy_forms_tags %}
{% block title %}
    
{% endblock title %}


{% block content %}
    <div class="container">
        <div class="row">
           <div class="col-md-3">
           </div>
           <div class="col-md-6 mt-5">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="card-header">
                   Login
                  </div>
                <div class="row g-0">
                   
                  <div class="col-md-12">
                    <div class="card-body">
                        <form action="" method="post">
                        {% csrf_token %}
                       {{form|crispy}}
                        <button type="submit" class="btn btn-sm btn-primary">Login</button>
                    </form>
                    </div>
                  </div>
                </div>
              </div> 
           </div>
            <div class="col-md-3">

            </div>
          
        </div>
    </div>
{% endblock content %}
    