{% extends 'price_tracker/base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    create account
{% endblock title %}


{% block content %}
<div class="container">
    <div class="row">
        {% if messages %}
        
        {% for message in messages %}
            <div class="alert alert-warning mt-2">
                {{message}}
            </div>
        {% endfor %}
            
    {% endif %}
        <form action="" method="post" class="mt-1">
            {%csrf_token%}
            {{form|crispy}}
            <button type="submit" class="btn btn-sm btn-success">Register</button>
    </form>
    
   
        
    </div>

</div>
{% endblock content %}
    